
/* 轮播的样式 */

#myCarousel{
	margin-top:-20px;
}
.carousel-inner>div.item{
	
	background-position: center center !important;
	background-size: cover !important;
}

@media(min-width: 769px){
	.carousel-inner > div.item{
		height: 410px !important;
	}
}

@media(max-width: 768px){
	.carousel-inner > div.item{
		height: auto !important;
	}
}

/* 课程列表样式 */

.page-header{
	border-bottom: 4px #ddd solid;
}
#courseList >.page-header >h3{
	position: relative;
}

#courseList >.page-header>h3>a{
	color:#666;
	font-weight: 100;
	font-size: 16px;
	position: absolute;
	right: 0px;
	line-height: 26.4px;
	
}
#courseList > .page-header > h3 > a:hover{
	text-decoration: none;
}
.caption>h3>span{
	font-size: 16px;
	color: red;
}
.caption>h3>a{
	
	font-size: 20px;
	color: black;
}
